meta charset="utf-8"
meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,400italic|Source+Serif+Pro:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'
/[if lt IE 9] <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
title
  =title